<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>CHRMNYG</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/fa/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet">
</head>
<body>
	<div id="index-wrapper">
		<div id="header">
			<div class="container">
				<div class="col-md-4" id="logo">
					<img src="/static/images/logo.png" alt="chrmnyg">
				</div>
				<div id="header-nav" class="col-md-8 header-nav">
					<nav>
						<ul class="nav navbar-right">
							<li>
								<a href="/">PORTFOLIO</a>
							</li>
							<li>
								<a href="/about">ABOUT</a>
							</li>
							<li class="active">
								<a href="/contact">CONTACT</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- #header-nav -->
			</div>
			<!-- .container -->
		</div>
		<!-- #header -->

		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="cnt-bg">
							<h1>CONTACT</h1>
							<p class="cnt-info"><i class="fa fa-map-marker"></i>P. Basubas Street<br>Brgy. Tipolo<br>Mandaue City<br>Cebu City<br> Philippines</p>
							<p class="cnt-info"><i class="fa fa-phone"></i>+63 935 8051 1198</p>
							<p class="cnt-info"><i class="fa fa-envelope"></i>maechan014@gmail.com<br>cdmanayaga@up.edu.ph</p>
						</div>
						<div class="cnt-bg">
							<h3>Follow and connect</h3>
							<p>Follow and be part of my journey. Share, like, and comment your feedbacks!</p>
							<p class="sns-links text-center">
								<a href="https://twitter.com/swoonmae">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://facebook.com/chariemae14">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="https://plus.google.com/+chariemae">
									<i class="fa fa-google-plus"></i>
								</a>
								<a href="https://www.instagram.com/chrmnyg">
									<i class="fa fa-instagram"></i>
								</a>
								<a href="https://github.com/maechan014">
									<i class="fa fa-github"></i>
								</a>

							</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="cnt-bg">
							<div class="col-sm-6">
								<p class="sns-follow text-center">
									<a href="https://www.instagram.com/chamchamae" class="username">
										<i class="fa fa-instagram" aria-hidden="true"></i>@chamchamae
									</a>
								</p>
							</div>
							<div class="col-sm-6">
									<h3>Follow on instagram to catch latest photographs!</h3>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="cnt-bg">
							<h3>Send a message</h3>
							<form action="/comment" method="post">
								<input type="text" class="input-design" name="name" placeholder="Name" required>
								<textarea class="input-design" name="message" rows="6" placeholder="Message"></textarea>
								<input type="submit" value="Send">					
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- .container -->
		</div>
		<!-- #contact -->
	</div>
	<!-- #index-wrapper -->

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>